################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LinkedList_DSA_Training
/obj/Debug/net8.0/LinkedList_DSA_Training.AssemblyInfoInputs.cache
/obj/Debug/net8.0/LinkedList_DSA_Training.AssemblyInfo.cs
/obj/Debug/net8.0/LinkedList_DSA_Training.GeneratedMSBuildEditorConfig.editorconfig
